:root{
    --btn-green: rgb(38,187,164);
    --btn-purpple: rgb(187, 163, 245);
    --text-color: rgb(189, 187, 187);
    --headers-color: rgb(92, 92, 92);
    --btn-hover-green: rgb(132, 252,186);
    --btn-hover-purpple: rgb(204, 187, 245);
    --font-family: 'Bai Jamjuree', sans-serif;
    --footer-bgcolor: rgb(245, 243, 243);
}

#footer-section{
    background-color: var(--footer-bgcolor);
}

.footer-container{
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    padding: 3% 0;
}

.footer-container__image{
    width: 75px;
    height: 75px;
}

.footer-logo__image{
    max-width: 100%;
    border-radius: 50px;
}

.footer-container__links{
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    flex: 2;
}

.footer-links__ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.footer_link__li{
    list-style-type: none;
    width: 30%;
    height: 40px;
    text-align: center;
}

.footer_link{
    text-decoration: none;
    color: rgb(129, 127, 127);
    font-weight: 600;
}

.footer_link:hover{
    color: var(--btn-green);
}

.icon-social-midia__ul{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icon-social-midia__li{
    list-style-type: none;
    padding-left: 30px;
}

.icon-social-midia__link:hover{
    color: var(--btn-green);
}