:root{
    --btn-green: rgb(38,187,164);
    --btn-purpple: rgb(187, 163, 245);
    --text-color: rgb(189, 187, 187);
    --headers-color: rgb(92, 92, 92);
    --hover-color: rgb(132, 252,186);
    --font-family: 'Bai Jamjuree', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body{
    font-size: 16px;
    line-height: 1.8;
}

.container{
    max-width: 993px;
    width: 100%;
    margin: 0 auto;
}

#header-section{
    background: linear-gradient( rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url("../img/bg-header-desktop.png") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header-logo__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-logo__image{
    margin: 0 auto;
    padding-top: 16%;
    padding-bottom: 8%;
}

.header-logo__msg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-logo__h1{
    position: relative;
    text-align: center;
    color: var(--headers-color);
    font-weight: 700;
    font-size: 3rem;
}

.header-logo__p{
    position: relative;
    text-align: center;
    width: 75%;
    padding: 2% 0 0 0;
    font-size: 1.2rem;
    color: var(--text-color);
}

.header-log__link{
    display: flex;
    flex-direction: row;
    display: relative;
    padding-top: 6%;
    align-items: center;
    justify-content: center;
}

.btn--green{
    margin-right: 10px;
    text-decoration: none;
    background-color: var(--btn-green);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    transition: ease-out 0.3s;
}

.btn--green:hover{
    box-shadow: rgba(55, 228, 133, 0.3) 0px 15px 12px, inset 0 -2px 0px 0px rgba(15, 128, 65, 0.3);
    transition: ease 0.3s;
}

.btn--purpple{
    margin-left: 10px;
    text-decoration: none;
    background-color: var(--btn-purpple);
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 500;
    transition: ease-out 0.3s;
}

.btn--purpple:hover{
    box-shadow: rgba(187, 163, 245, 0.3) 0px 15px 12px, inset 0 -2px 0px 0px rgba(119, 66, 243, 0.5);
    transition: ease 0.3s;
}

