:root{
    --btn-green: rgb(38,187,164);
    --btn-purpple: rgb(187, 163, 245);
    --text-color: rgb(189, 187, 187);
    --headers-color: rgb(92, 92, 92);
    --hover-color: rgb(132, 252,186);
    --font-family: 'Bai Jamjuree', sans-serif;
}

.informative-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.informative__h2{
    text-align: center;
    padding-top: 10%;
    font-size: 2rem;
    color: var(--headers-color);
}

.informative__p{
    position: relative;
    text-align: center;
    width: 75%;
    padding: 2% 0 0 0;
    font-size: 1rem;
    color: var(--text-color);
}

.second-informative-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 6%;
}

.mac-image{
    margin-left: -60px;
    width: 50%;
    display: flex;
    flex: 1;
}

.informations{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    padding-top: 5%;
    padding-left: 8%;
}

.informations__h3{
    font-size: 1.5rem;
    color: var(--headers-color);
}

.informations__p{
    padding-right: 40%;
    color: var(--text-color);
}

.devices-container{
    padding-top: 10%;
}

.informative-container-supercharge .informative__h2{
    padding-top: 4%;
}

.container-large{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.icons-text-container{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}

.col-3{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 33.33%;
}

.incons-text__img{
    display: flex;
    justify-content: center;
    max-height: 32px;
}

.icons-text{
    text-align: center;
    margin-top: 6%;
}

.icons-text__h3{
    color: var(--headers-color);
}

.icons-text__p{
    color: var(--text-color);
    padding: 0 4%;
}

.logos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10%;
}

.clipboard-container .btn-download__link{
    padding-top: 4%;
}